/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.03.2016, 23:50:06
    Author     : Halldor Rolandsson
*/


.pk-meta-row {
    margin-top: 40px;
}
.pk-meta-th label {
    font-weight: bold;
    margin-right:20px;
}
.pk-meta-td input {
    width:500px;
}

.pk_offline_avatar_list {
    display: inline-flex;
    list-style: none !important;
    
}
.pk_offline_avatar {
    margin:20px;
}
.pk_stream_fallback {
    color:grey;
}